/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --greenbee-color:#22c55e;
  /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color:  rgba(255, 255, 255, 0.15);;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
  margin: 0 auto;
  /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;

}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}



/*=============== HEADER & NAV===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s;
  /* for light mode animation */
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--first-color);
  font-weight: 900;
  transition: 0.4s;

}

.nav__logo:hover{
  color:var(--greenbee-color);
}

/* nav menuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu na khab */
.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  width: 90%;
  border-radius: 20px;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: .4s;
  /* for light mode animation */

}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  border-radius: 5rem;
}

/* .nav__link:hover {
  color: aqua;
  font-size: 1.28rem;
  transform: translateY(-20px);
} */

/* Active link */
.active-link {
  /* From https://css.glass */
background: #8baeff87;
border-radius: 0.8rem;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(1.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Change background header */
.scroll-header{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
}




/*=============== HOME ===============*/
.home__container{
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;

}
.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);

}

.home__greeting{
  display: block;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}


.home__education{
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: .5rem;
}

.home__name{
  font-size: var(--biggest-font-size);
}
.home__img{
  width: 200px;
  

}

.home__handle{
  justify-self: center;
  width: 220px;
  height: 330px;
  background: linear-gradient(#5b21b6,#0284c7);
  border-radius: 10rem 10rem 5rem 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease;
}

.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social,
.home__scroll{
  position: absolute;
}

.home__social{
  bottom: 6rem;
  left: 0;
  display: grid;
  row-gap: 1rem;
}

.home__social-link{
  width: max-content;
  background: var(--container-color);
  color: var(--first-color);
  border-radius: 0.25rem;
  display: flex;
  font-size: 1.3rem;
  transition: 0.4s;
}

.home__social-link:hover{
  background-color: var(--first-color);
  color: rgba(255, 255, 255, 0.663);
}

.home__social::after{
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px,3px);
}

.home__scroll{
  color: var(--first-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll-icon{
  font-size: 1rem;
}
/* scrolllllllllllllllllllllllllllllll */
.home__scroll-name {
  font-size: var(--small-font-size);
  transform: rotate(-90deg);
}


/*=============== BUTTONS ===============*/



.button{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--first-color);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 8px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.4s;
}
.button:hover{
  color: var(--greenbee-color);
}
.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2,5rem;
}
.about__img{
  width: 320px;
  border-radius: 1rem;
  justify-self: center;
}

.about__data{
  text-align: center;

}
.about__description{
  margin-bottom: 2rem;
  gap: 1rem;
}


/*=============== FOOTER ===============*/
/* .footer{
  background-color: #5b21b6;
} */

.footer__container{
  padding: 3rem 0 8.5rem;
}



.footer__tittle{
  text-align: center;
  margin-bottom: 2rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  font-size: 35px;
  color: #1058ff;
}

.social-link{
  background-color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  display: inline-flex;
  
}
.social-link:hover{
  transform: translateY(-10px);
  background-color: #22c55e;
  transition: 0.5s;
}

.footer__copy{
  display: block;
  margin-top: 3rem;
  text-align: center;
}

/* .width{
  border-top: #384349 1px solid;
  overflow: hidden;
} */



.nav-logo {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: nav-logo 500ms infinite;
}

.nav-logo span {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-logo span:first-child {
  animation: nav-logo 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.nav-logo span:last-child {
  animation: nav-logo 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes nav-logo {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
/*******name aniamtion************************************/
.animation-name{
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.animation-name h1{
  color: #e36767;
  font-size: 2rem;
  letter-spacing: 1px;
 text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}
.animation-name .ani-1{
animation: effect-one 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
.animation-name .ani-2{
animation: effect-two 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
@keyframes effect-one {
0% {
 transform: scale(0.9);
}
50%,
100% {
 transform: scale(1);
}
}

@keyframes effect-two {
0% {
 transform: scale(0.9);
}
80%,
100% {
 transform: scale(1) rotateZ(-3deg);
}
}



/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 15%, 26%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 15%, 20%);

}

/* Contact */
.contact__container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact__title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
  
}

.contact__info{
  display: grid;
  gap: 1rem;
}

.contact__card{
  
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}
/* .contact__card:hover{
  background-color: var(--greenbee-color);
} */
.contact__card-icon{
  font-size: 1.5rem;
  color: var(--title-color);

}

.contact__cardcard-title,
.contact__card-data{
  margin-top: 15px;
  font-size: var(--small-font-size);
}

.contact__cardcard-title{
  font-weight: var(--font-medium);
}

.contact__card-data{
  display: block;
  margin-bottom: 0.75rem;
}




.dark-theme .home__handle{
  transition: all 0.5s ease;
}
/* .dark-theme .animation-name h1{
  color: #ea3838;
  font-size: 2rem;
  letter-spacing: 1px;
 text-shadow: 0 0.1em 20px #fff, 0.05em -0.03em 0 #fff, 0.05em 0.005em 0 #fff, 0em 0.08em 0 #fff, 0.05em 0.08em 0 #fff, 0px -0.03em 0 #fff, -0.03em -0.03em 0 #fff, -0.03em 0.08em 0 #fff, -0.03em 0 0 #fff;
} */
/* color change some part of web */

.light-theme .scroll-header{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.light-theme .contact__card{
  transition: 0.5s all ease;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.light-theme .contact__card:hover{
  transition: 0.5s all ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.light-theme .home__handle{
  transition: all 0.5s ease;
  background: linear-gradient(#5b21b6,#0284c7);
  border-radius: 5rem 0rem 10rem 10rem;
}
.light-theme .button{
  color: black;
}
.light-theme  .button:hover{
  color: #ea580c;
}

.light-theme .nav__menu{
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}

.light-theme .home__social::after{
  background-color: black;
}

.light-theme .home__social-link{
  color: black;
}
.light-theme .home__social-link:hover{
  background-color: #ea580c;
}

/* .noting{
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
} */
.change-theme{
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;

}

.change-theme:hover{
    color: var(--greenbee-color);

}



body.light-theme{
    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 8%, 35%);
    --body-color: hsl(var(--second-hue), 100%, 99%);
    --container-color: #fff;
}





/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:320px){
  .nav__menu{
    padding: 1rem 1.5rem;
  }
  .home__buttons{
    flex-direction: column;

  }

  .home__handle{
    width: 150px;
    height: 253px;
  }

  .home__img{
    width: 130px;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu{
    width: 328px;
    left: 0;
    right:0;
    margin: 0 auto;
  }
  .about__description{
    padding: 0.5rem;
  }
  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }
}

/* @media screen (min-width:767px){
  .work__conatiner
  
} */

/* For large devices */
@media screen and (min-width:992px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding:6.5rem 0 1rem;
  }

  .section__title{
    margin-bottom: 3.5rem;
  }

  /* .nav{
    height: calc(var(--header-height)+5rem);
  } */

  .home__handle{
    width: 350px;
    height: 490px;
  }

  .home__img{
    width: 260px;
  }

  .home__social-link{
    padding: 0.5rem;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .about__img{
    width: 500px;
  }

  .about__description{
    padding: 0 4rem 0 0;
  }

  .footer__social-link{
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
}
